@import "~bootstrap/dist/css/bootstrap.min.css";

h1 {
  font-size: 50px;
  margin-top: -14px;
}
h2 {
  font-size: 45px;
  margin-top: -13px;
}
body {
  margin-top: 20%;
  font-family: "Coming Soon", cursive;
  background-image: url("https://wallpaperaccess.com/full/4317845.jpg");
}
